<!DOCTYPE html>
<html lang="fr">

<head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trello Projects</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/simple-sidebar.css" rel="stylesheet">
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet" />

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Trello Project </div>
      <div class="list-group list-group-flush">
        <a href="/my-projects" class="list-group-item list-group-item-action  bg-light">My projects</a>
        <a href="/tasks/<%= project.name%>" class="list-group-item list-group-item-action bg-light">Tasks list</a>
        <a href="/conversation/<%= project.name%>" class="list-group-item list-group-item-action active">Conversation </a>
        <a href="/Git-commit/<%= project.name%>" class="list-group-item list-group-item-action bg-light">Last Git commits</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- HEADER -->

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PSEUDO
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile ?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Disconnect</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>


    <!-- /#page-content-wrapper -->
      <div class="container">
        <!-- marge top-->
        <div class="row mt-5">
          <!-- marge à gauche-->
          <div class="col-2">
          </div>
          <div class="col-8 text-left" id="text-flow">
            <% 
            if(project.msgList != undefined){
              for(var i = 0; i < project.msgList.length; i++){ 
                if(project.msgList[i].author == userName ){
            %>
            <div class="d-flex flex-row-reverse mt-2 ">
              <div class="p-2 bg-primary rounded-right">: moi</div>
              <div class="p-2 bg-primary rounded-left"><%= project.msgList[i].message %></div>
            </div>   
            <% 
                } else {
            %>
            <div class="d-flex flex-row mt-2 ">
              <div class="p-2 bg-secondary rounded-left"><%= project.msgList[i].author %> :</div>
              <div class="p-2 bg-secondary rounded-right"><%= project.msgList[i].message %></div>
            </div>   
            <%
                }
              }
            }
            %>

          </div>
          <div class="col-2">
          </div>
        </div>
        <div class="row mt-5">
          <!-- marge à gauche-->
          <div class="col-2">
          </div>
          <div class="col-8 text-left">
            <div class="row">
              <div class="col-1">
              </div>
              <div class="col-8 text-right">
                <input type="text" id="textinput" class="form-control" placeholder="Écrire un message ..." />
              </div>
              <div class="col-1">
                <input type="button" id="button" class="btn btn-primary" value="Envoyer"/>
              </div>
              <div class="col-1">
              </div>
            </div>
          </div>
          <div class="col-2">
          </div>
        </div>
      </div>


  </div>
  
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    var socket = io.connect('/');
       
    socket.on('announcements', function(data) {
        socket.emit("joinGroup",'<%= project.name%>');
        console.log("group ajouté ? ");
        console.log('Got announcement:', data.message);
    });

    //quand on a 'receivedmsg' venant du serveur (diffère du socket.on suivant car l'affiche en tant que message d'un autre)
	  socket.on('receivedmsg', function(data) {
      console.log("j'ai recu le message renvoyer a tous !");
      var balStart = "<div class=\"d-flex flex-row mt-2 \">";
      var bal2 = "<div class=\"p-2 bg-secondary rounded-left\">Henry :</div>";
      var bal3 = "<div class=\"p-2 bg-secondary rounded-right\">"+data.message+"</div>";
      var balEnd = "</div>"
      var text = balStart + bal2 + bal3 + balEnd;
          $("#text-flow").append(text);
    });
    
    //quand on a 'receivedmymsg' venant du serveur (diffère du socket.on précédent car l'affiche en tant que son message)
    socket.on('receivedmymsg', function(data) {
		  console.log("j'ai recu le message renvoyer a  moi !");
      var balStart = "<div class=\"d-flex flex-row-reverse mt-2 \">";
      var bal2 = "<div class=\"p-2 bg-primary rounded-right\">: moi</div>";
      var bal3 = "<div class=\"p-2 bg-primary rounded-left\">"+data.message+"</div>";
      var balEnd = "</div>"
      var text = balStart + bal2 + bal3 + balEnd;
          $("#text-flow").append(text);
          //Dans le cas où c'est nous qui avons ajouté un message on rest l'input type text
          $("#textinput").replaceWith("<input type=\"text\" id=\"textinput\" class=\"form-control\" placeholder=\"Écrire un message ...\" />");
	  });
    
    //lorsque l'on clique sur envoyer envoie le 'newmsg' au serveur
    $("#button").click(function() {
      console.log("envoie d'un message");       		 
   		socket.emit("newmsg", {message: $("#textinput").val(), group: '<%= project.name%>'});
    });
  
  </script>

</body>

</html>
