<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trello Projects</title>

  <!-- Bootstrap core CSS -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../css/simple-sidebar.css" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet" />

</head>

<body>

  <script>
    //vérifie via les donné précédemment récupéré si le nome de tache est unique
    function isUniq(){
      console.log("isUniq");
      var inputTitle = document.getElementById("InputTitle");
      //on se sert de new dans l'url pour indiqué que c'est un nouveau projet. si un projet s'appel new ca posera problème
      if(inputTitle.value == "new"){
        console.log("false");
        return false;
      }
      '<% for(var i = 0; i < project.tasksList.length; i++){%>'
      if(inputTitle.value == '<%= project.tasksList[i].nameT%>'){
        console.log("false");
        return false;
      }
      '<%}%>'
      console.log("true");
      return true;
    }

    //lorsque l'on modifie la valeur du titre dans le formulaire vérifie si déjà prit
    function displayValidationOfTitle(){
      console.log("displayValidationOfTitle");
      var inputTitle = document.getElementById("InputTitle");
      //appel la fonction isUniq vérifiant si la value dans le formulaire est égale à un des nom de projectNameList
      var verif = isUniq();
      if(verif){
        console.log("valid");
        //affiche en vert le champs pour confirmer
        return inputTitle.className = "form-control is-valid";
      } else {
        console.log("invalid");
        //affiche le champs en rouge pour indiquer la non correspondance
        return inputTitle.className = "form-control is-invalid";
      }
    }

    //est appelé lorsque l'on clique sur save
    function validation(){
      console.log("validation");
      //si formulaire d'un nouveau projet
      if(document.formNew){
        //il faut vérifier que le titre n'existe pas déjà en base avant de submit
        if(isUniq()){
          document.formNew.submit();
        }
      //c'est un projet existant donc pas besoin de vérifier le titre dans ce formulaire
      } else {
        document.formExist.submit();
      }
    }
  </script>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">L3 Project </div>
      <div class="list-group list-group-flush">
        <a href="/my-projects" class="list-group-item list-group-item-action bg-light">My projects</a>
        <a href="/tasks/<%= project.name%>" class="list-group-item list-group-item-action active">Tasks list</a>
        <a href="/conversation/<%= project.name%>" class="list-group-item list-group-item-action bg-light">Conversation </a>
        <a href="/Git-commit/<%= project.name%>" class="list-group-item list-group-item-action bg-light">Last Git commits</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- HEADER -->

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PSEUDO
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile ?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Disconnect</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>


<!-- Page Content -->

 
<div class="container">
  <% if(task == "new"){ %>
  <form action="/save_task/<%= project.name %>/new" method="POST" name="formNew">
  <% } else { %>
  <form action="/save_task/<%= project.name %>/<%= task.nameT%>" method="POST" name="formExist">
  <% } %>
    <!-- marge top-->
  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-1">
    </div>
    <div class="col-2 text-right">
      Title : 
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <!-- si c'est un nouveau projet le titre est modifiable-->
      <% if(task == "new"){ %>
        <div class="form-group">
          <input onchange="displayValidationOfTitle()" type="text" class="form-control" id="InputTitle" name="title" required/>
        </div>
      <% } else { %>
      <%= task.nameT%>
      <% } %>
    </div>
    <div class="col-2">
    </div>
  </div>
   
  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-1">
    </div>
    <div class="col-2 text-right">
      Description : 
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
        <div class="form-group">
          <textarea class="form-control" rows="3" id="InputDescription" name="description" ><%= task.descT%></textarea>
        </div>
    </div>
    <div class="col-2">
    </div>
  </div>

  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-1">
    </div>
    <div class="col-2 text-right">
      Status : 
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <div class="form-group">
        <select class="form-control" id="status" name="status">
          <!-- nécessaire pour définir la valeur sélectionner pour préremplir formulaire -->
          <%    if(task.status == "todo"){   %>   <option value="todo" selected="selected">To Do</option>
          <%    } else {    %>    <option value="todo">To Do</option>   <%    }   %>
          <%    if(task.status == "inprogress"){   %>   <option value="inprogress" selected="selected">In Progress</option>
          <%    } else {    %>    <option value="inprogress">In Progress</option>   <%    }   %>
          <%    if(task.status == "done"){   %>   <option value="done" selected="selected">Done</option>
          <%    } else {    %>    <option value="done">Done</option>   <%    }   %>
        </select>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>

  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-1">
    </div>
    <div class="col-2 text-right">
      Personne assigné : 
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" id="InputAssignee" name="assignee" value='<%= task.assignee%>'/>
        </div>
    </div>
    <div class="col-2">
    </div>
  </div>

  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-1">
    </div>
    <div class="col-2 text-right">
      tag : 
    </div>
    <div class="col-1">
    </div>
    <div class="col-3">
      <div class="form-group">
        <select class="form-control" id="tag1" name="tag1">
          <option></option>
          <%  if(task == "new"){  %>
            <option>Critical</option>
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
          <%  } else {  %>
            <!-- nécessaire pour définir la valeur sélectionner pour préremplir formulaire -->
            <%    if(task.tags[0] == "Critical"){   %>   <option selected="selected">Critical</option>
            <%    } else {    %>    <option>Critical</option>   <%    }   %>
            <%    if(task.tags[0] == "High"){   %>   <option selected="selected">High</option>
            <%    } else {    %>    <option>High</option>   <%    }   %>
            <%    if(task.tags[0] == "Medium"){   %>   <option selected="selected">Medium</option>
            <%    } else {    %>    <option>Medium</option>   <%    }   %>
            <%    if(task.tags[0] == "Low"){   %>   <option selected="selected">Low</option>
            <%    } else {    %>    <option>Low</option>   <%    }   %>
          <%  }  %>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <select class="form-control" id="tag2" name="tag2">
          <option></option>
          <%  if(task == "new"){  %>
            <option>Development</option>
            <option>Unitary test</option>
            <option>Integration</option>
            <option>Documentation</option>
          <%  } else {  %>
            <!-- nécessaire pour définir la valeur sélectionner pour préremplir formulaire -->
            <%    if(task.tags[1] == "Development"){   %>   <option selected="selected">Development</option>
            <%    } else {    %>    <option>Development</option>   <%    }   %>
            <%    if(task.tags[1] == "Unitary test"){   %>   <option selected="selected">Unitary test</option>
            <%    } else {    %>    <option>Unitary test</option>   <%    }   %>
            <%    if(task.tags[1] == "Integration"){   %>   <option selected="selected">Integration</option>
            <%    } else {    %>    <option>Integration</option>   <%    }   %>
            <%    if(task.tags[1] == "Documentation"){   %>   <option selected="selected">Documentation</option>
            <%    } else {    %>    <option>Documentation</option>   <%    }   %>
          <%  } %>
        </select>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>

  <!-- marge top-->
  <div class="row mt-5">
    <!-- marge à gauche-->
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="form-group text-center">
          <input onclick="validation()" type="button" id="save"  name="save" value="save" class="btn btn-primary"/>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <!-- marge à gauche-->
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="form-group  text-center">
        <a href="/tasks/<%= project.name %>">Cancel</a>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
  </form>
  </div>


    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="../../vendor/jquery/jquery.min.js"></script>
  <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
