<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trello Projects</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/simple-sidebar.css" rel="stylesheet">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet" />

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Trello Project </div>
      <div class="list-group list-group-flush">
        <a href="/my-projects" class="list-group-item list-group-item-action bg-light">My projects</a>
        <a href="/tasks/<%= project.name%>" class="list-group-item list-group-item-action active">Tasks list</a>
        <a href="/conversation/<%= project.name%>" class="list-group-item list-group-item-action bg-light">Conversation </a>
        <a href="/Git-commit/<%= project.name%>" class="list-group-item list-group-item-action bg-light">Last Git commits</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- HEADER -->

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PSEUDO
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile ?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Disconnect</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    


<!-- Page Content -->
      <div class="container">
  <!-- marge top-->
        <div class="row mt-5">
    <!-- marge à gauche-->
          <div class="col-2">
          </div>
          <div class="col-2">
            TO DO
          </div>
          <div class="col-6">
            <a href="/task-detail/<%= project.name%>/new">Add task</a>
          </div>
          <div class="col-2">
          </div>
        </div>
    <!-- marge top-->
        <div class="row mt-2">
    <!-- marge à gauche-->
          <div class="col-2">
          </div>
          <div class="col-8">
            <table class="table table-striped">
              <tr class="row">
                <th class="col-3 text-center">Titre</th>
                <th class="col-3 text-center">Personne en charge</th>
                <th class="col-4 text-center">tags</th>
                <th class="col-2"></th>
              </tr>
              <% 
              if(sortedTasks != undefined){
                for(var i = 0; i < sortedTasks.todo.length; i++){
              %>
              <tr class="row">
                <td class="col-3 text-center"><%= sortedTasks.todo[i].nameT %></td>
                <td class="col-3 text-center"><%= sortedTasks.todo[i].assignee %></td>
                <td class="col-2 text-center"><%= sortedTasks.todo[i].tags[0] %></td>
                <td class="col-2 text-center"><%= sortedTasks.todo[i].tags[1] %></td>
                <td class="col-2 text-center"><a href="/task-detail/<%= project.name%>/<%= sortedTasks.todo[i].nameT%>">Modifier</a></td>
              </tr>
              <% 
                }
              }
              %>
            </table>
          </div>
          <div class="col-2">
          </div>
        </div>

        <div class="row mt-5">
        <!-- marge à gauche-->
          <div class="col-2">
          </div>
          <div class="col-8">
            IN PROGRESS
          </div>
          <div class="col-2">
          </div>
        </div>
        <!-- marge top-->
        <div class="row mt-2">
        <!-- marge à gauche-->
          <div class="col-2">
          </div>
          <div class="col-8">
            <table class="table table-striped">
              <tr class="row">
                <th class="col-3 text-center">Titre</th>
                <th class="col-3 text-center">Personne en charge</th>
                <th class="col-4 text-center">tags</th>
                <th class="col-2"></th>
              </tr>
              <% 
              if(sortedTasks != undefined){
                for(var i = 0; i < sortedTasks.inprogress.length; i++){
              %>
              <tr class="row">
                <td class="col-3 text-center"><%= sortedTasks.inprogress[i].nameT %></td>
                <td class="col-3 text-center"><%= sortedTasks.inprogress[i].assignee %></td>
                <td class="col-2 text-center"><%= sortedTasks.inprogress[i].tags[0] %></td>
                <td class="col-2 text-center"><%= sortedTasks.inprogress[i].tags[1] %></td>
                <td class="col-2 text-center"><a href="/task-detail/<%= project.name%>/<%= sortedTasks.inprogress[i].nameT%>">Modifier</a></td>
              </tr>
              <% 
                }
              }
              %>
            </table>
          </div>
          <div class="col-2">
          </div>
        </div>

        <div class="row mt-5">
          <!-- marge à gauche-->
          <div class="col-2">
          </div>
          <div class="col-8">
            DONE
          </div>
          <div class="col-2">
          </div>
        </div>
        <!-- marge top-->
        <div class="row mt-2">
          <!-- marge à gauche-->
          <div class="col-2">
          </div>
          <div class="col-8">
            <table class="table table-striped">
              <tr class="row">
                <th class="col-3 text-center">Titre</th>
                <th class="col-3 text-center">Personne en charge</th>
                <th class="col-4 text-center">tags</th>
                <th class="col-2"></th>
              </tr>
              <% 
              if(sortedTasks != undefined){
                for(var i = 0; i < sortedTasks.done.length; i++){
              %>
              <tr class="row">
                <td class="col-3 text-center"><%= sortedTasks.done[i].nameT %></td>
                <td class="col-3 text-center"><%= sortedTasks.done[i].assignee %></td>
                <td class="col-2 text-center"><%= sortedTasks.done[i].tags[0] %></td>
                <td class="col-2 text-center"><%= sortedTasks.done[i].tags[1] %></td>
                <td class="col-2 text-center"><a href="/task-detail/<%= project.name%>/<%= sortedTasks.done[i].nameT%>">Modifier</a></td>
              </tr>
              <% 
                }
              }
              %>
            </table>
          </div>
          <div class="col-2">
          </div>
        </div>
        



      <!-- /#page-content-wrapper -->

      </div>
  <!-- /#wrapper -->
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
